<script src='/javascripts/remote.js'></script>
<div class="remote-control">
	<div class="row" style="margin-top: 5px">
		<div class="col-sm-4">
			<center>
				<h3 style="color:white;">INPUT</h3>
				<button class="remote-round" value="input"><i class="material-icons" style="font-size: 24px">input</i></button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<h1 class="remote-title">TV</h1>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<h3 style="color:white;">POWER</h3>
				<button class="remote-round" value="power" style="background: #d32f2f;"><i class="material-icons" style="font-size: 50px">power_settings_new</i></button>
			</center>
		</div>
	</div>
	<div class="row" style="margin-top: 25px;">
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="one">1</button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="two">2</button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="three">3</button>
			</center>
		</div>
	</div>
	<div class="row" style="margin-top: 12px;">
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="four">4</button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="five">5</button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="six">6</button>
			</center>
		</div>
	</div>
	<div class="row" style="margin-top: 12px;">
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="seven">7</button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="eight">8</button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="nine">9</button>
			</center>
		</div>
	</div>
	<div class="row" style="margin-top: 12px;">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="zero">0</button>
			</center>
		</div>
		<div class="col-sm-4">
		</div>
	</div>
	<hr style="width: 90%">
	<div class="row" style="margin-top: 12px;">
		<div class="col-sm-4">
			<center>
				<h2 style="color:white;">VOL</h2>
				<button class="remote-round" value="volup">+</button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<h3 style="color: white;">MUTE</h3>
				<button class="remote-square" value="mute"><i class="material-icons" style="font-size: 24px">volume_mute</i></button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
			<h2 style="color:white;">CH</h2>
				<button class="remote-round" value="chup">+</button>
			</center>
		</div>
	</div>
	<div class="row" style="margin-top: 12px;">
		<div class="col-sm-4">
			<center>
				<button class="remote-round" value="voldown">-</button>
			</center>
		</div>
		<div class="col-sm-4" style="margin-top: -40px">
			<center>
				<h3 style="color: white;">MENU</h3>
				<button class="remote-square" value="menu"><i class="material-icons" style="font-size: 24px">menu</i></button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<button class="remote-round" value="chdown">-</button>
			</center>
		</div>
	</div>
	<hr style="width: 90%">
	<div class="row" style="margin-top: 12px;">
		<div class="col-sm-4">
			<center>
				<h3 style="color: white">INFO</h3>
				<button class="remote-round-sm" value="info"><i class="material-icons" style="font-size: 24px">info_outline</i></button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="up" style="margin-top: 50px"><i class="material-icons" style="font-size: 24px">arrow_upward</i></button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<h3 style="color: white">GUIDE</h3>
				<button class="remote-round-sm" value="guide"><i class="material-icons" style="font-size: 24px">apps</i></button>
			</center>
		</div>
	</div>
	<div class="row" style="margin-top: 12px;">
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="left"><i class="material-icons" style="font-size: 24px">arrow_back</i></button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="enter" style="font-size: 12px">ENTER</button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="right"><i class="material-icons" style="font-size: 24px">arrow_forward</i></button>
			</center>
		</div>
	</div>
	<div class="row" style="margin-top: 12px; margin-bottom: 25px">
		<div class="col-sm-4">
			<center>
				<h3 style="color: white">RECALL</h3>
				<button class="remote-round-sm" value="recall"><i class="material-icons" style="font-size: 24px">undo</i></button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<button class="remote-square" value="down"><i class="material-icons" style="font-size: 24px">arrow_downward</i></button>
			</center>
		</div>
		<div class="col-sm-4">
			<center>
				<h3 style="color: white">EXIT</h3>
				<button class="remote-round-sm" value="exit"><i class="material-icons" style="font-size: 24px">exit_to_app</i></button>
			</center>
		</div>
	</div>
</div>